:root {
  --ai-chat-window-color-outline: #e7e7e775;
  --ai-chat-window-color-header: white;
  --ai-chat-window-color-bg-header: #3782e2;
  --ai-chat-window-color-bg-close-button: transparent;
  --ai-chat-window-color-close-button: white;
  --ai-chat-window-color-bg-close-button-hover: #6ba4f0;
  --ai-chat-window-color-bg-messages: #f6faff;
  --ai-chat-window-color-message-loader: #3782e2;
  --ai-chat-window-color-message-user: black;
  --ai-chat-window-color-bg-message-user: white;
  --ai-chat-window-color-message-assistant: black;
  --ai-chat-window-color-bg-message-assistant: #e5edf8;
  --ai-chat-window-color-border-action: #3782e2;
  --ai-chat-window-color-bg-message-error: #ffd6d6;
  --ai-chat-window-color-message-error: black;
  --ai-chat-window-color-input-field: black;
  --ai-chat-window-color-bg-input-field: white;
  --ai-chat-window-color-send-button: #3782e2;
  --ai-chat-window-color-scrollbar-track: #f0f0f0;
  --ai-chat-window-color-scrollbar-thumb: #888;
  --ai-chat-window-color-scrollbar-thumb-hover: #555;
}

.ai-chat-window-dark-theme {
  --ai-chat-window-color-outline: #44444475;
  --ai-chat-window-color-header: #1f1f1f;
  --ai-chat-window-color-bg-header: #3782e2;
  --ai-chat-window-color-bg-close-button: transparent;
  --ai-chat-window-color-close-button: black;
  --ai-chat-window-color-bg-close-button-hover: #6ba4f0;
  --ai-chat-window-color-bg-messages: #1f1f1f;
  --ai-chat-window-color-message-loader: #3782e2;
  --ai-chat-window-color-message-user: #d1d1d1;
  --ai-chat-window-color-bg-message-user: #2f2f2f;
  --ai-chat-window-color-message-assistant: white;
  --ai-chat-window-color-bg-message-assistant: #162941;
  --ai-chat-window-color-border-action: #3782e2;
  --ai-chat-window-color-bg-message-error: #ff4545;
  --ai-chat-window-color-message-error: white;
  --ai-chat-window-color-bg-input-field: #1f1f1f;
  --ai-chat-window-color-input-field: white;
  --ai-chat-window-color-send-button: #3782e2;
  --ai-chat-window-color-scrollbar-track: #333333;
  --ai-chat-window-color-scrollbar-thumb: #888888;
  --ai-chat-window-color-scrollbar-thumb-hover: #555555;
}

.ai-chat-window a {
  color: #1d69da;
}

.ai-chat-window {
  z-index: 10000;
  outline: 1px solid var(--ai-chat-window-color-outline);
  outline-offset: -1px;
  border-radius: 1rem;
  width: 24rem;
  height: 40rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: grow 0.2s ease-out;
  transform-origin: bottom right;
  display: none;
}

.ai-chat-window-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ai-chat-window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem 1rem 0px 0px;
  background-color: var(--ai-chat-window-color-bg-header);
  color: var(--ai-chat-window-color-header);
}

.ai-chat-window-header-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.ai-chat-window-title {
  margin: 0px;
  font-weight: 400;
  font-size: 1.5rem;
}

.ai-chat-window-header-close {
  border: 0px;
  border-radius: 0.5rem;
  margin-right: -0.5rem;
  padding: 0.5rem;
  background-color: var(--ai-chat-window-color-bg-close-button);
  color: var(--ai-chat-window-color-close-button);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ai-chat-window-header-close:hover {
  background-color: var(--ai-chat-window-color-bg-close-button-hover);
}

.ai-chat-window-header-close-icon {
  width: 20px;
  height: 20px;
}

.ai-chat-window-messages {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 1rem;
  background-color: var(--ai-chat-window-color-bg-messages);
}

.ai-chat-window-input-section {
  padding: 0rem 1rem 1rem 1rem;
  background-color: var(--ai-chat-window-color-bg-messages);
  border-radius: 0rem 0rem 1rem 1rem;
}

.ai-chat-window-input-section-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 0px 2px 1px var(--ai-chat-window-color-outline);
  background-color: var(--ai-chat-window-color-bg-input-field);
  border-radius: 1.5rem;
  padding: 0rem 0.25rem 0rem 1rem;
}

.ai-chat-window-input-field {
  display: flex;
  flex-grow: 1;
  border: none;
  background-color: var(--ai-chat-window-color-bg-input-field);
  color: var(--ai-chat-window-color-input-field);
  appearance: none;
  resize: none;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: small;
}

.ai-chat-window-input-field::placeholder {
  position: relative;
  bottom: 2px;
}

.ai-chat-window-input-send {
  border: 0px;
  border-radius: 50%;
  padding: 0px;
  height: 3rem;
  background-color: var(--ai-chat-window-color-bg-input-field);
  color: var(--ai-chat-window-color-send-button);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ai-chat-window-input-send-icon {
  width: 40px;
  height: 40px;
}

.ai-chat-window-message {
  display: flex;
  margin: 0.5rem 0rem;
}

.ai-chat-window-message div {
  padding: 0.625rem 0.875rem;
  border-radius: 1.25rem;
  max-width: 70%;
  margin: 0px;
  box-shadow: 0px 0px 2px 1px var(--ai-chat-window-color-outline);
}

.ai-chat-window-message p,
.ai-chat-window-message ol,
.ai-chat-window-message ul,
.ai-chat-window-message li {
  margin: 0px;
}

.ai-chat-window-message ol,
.ai-chat-window-message ul {
  padding-top: 1rem;
  padding-inline-start: 1.5rem;
}

.ai-chat-window-message-user {
  justify-content: end;
  font-size: 1rem;
}

.ai-chat-window-message-user div {
  background-color: var(--ai-chat-window-color-bg-message-user);
  color: var(--ai-chat-window-color-message-user);
}

.ai-chat-window-message-assistant,
.ai-chat-window-message-assistant-loading {
  justify-content: start;
}

.ai-chat-window-message-assistant div {
  background-color: var(--ai-chat-window-color-bg-message-assistant);
  color: var(--ai-chat-window-color-message-assistant);
}

.ai-chat-window-message-error {
  justify-content: center;
}

.ai-chat-window-message-error p {
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.75rem;
  background-color: var(--ai-chat-window-color-bg-message-error);
  color: var(--ai-chat-window-color-message-error);
  font-size: small;
  max-width: 80%;
}

.ai-chat-window-message-action {
  border: 1px solid var(--ai-chat-window-color-border-action);
  color: var(--ai-chat-window-color-border-action);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ai-chat-window-messages::-webkit-scrollbar {
  width: 8px;
}

.ai-chat-window-messages::-webkit-scrollbar-track {
  background: var(--ai-chat-window-color-scrollbar-track);
  border-radius: 4px;
}

.ai-chat-window-messages::-webkit-scrollbar-thumb {
  background: var(--ai-chat-window-color-scrollbar-thumb);
  border-radius: 4px;
}

.ai-chat-window-messages::-webkit-scrollbar-thumb:hover {
  background: var(--ai-chat-window-color-scrollbar-thumb-hover);
}

.ai-chat-window-loader {
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 8px;
}

.ai-chat-window-loader div {
  width: 8px;
  height: 8px;
  background-color: var(--ai-chat-window-color-message-loader);
  border-radius: 50%;
  animation: grow-shrink 1s infinite;
  padding: 0px !important;
}

.ai-chat-window-loader div:nth-child(1) {
  animation-delay: 0s;
}

.ai-chat-window-loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.ai-chat-window-loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@media (max-width: 420px) {
  .ai-chat-window {
    width: calc(100vw - 2rem);
  }
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes grow-shrink {
  0%,
  100% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1.25);
  }
}
